/* Aqui empieza el CSS del Main*/
main {
    position: static;
    z-index: -2;
    height: var(--heightMain);
    width: 100%;
    padding: 0px 0px 0px 280px;
    margin: 0px;
}

section {
    padding: 0px;
    margin: 0px;
    height: var(--heightMain);
    width: 100%;
    background-image: url("/img/main/backgroundFlag.jpg");
    background-size: cover;
    background-position: 0px 0px;
    padding: 10px 10px 10px 10px;
}

/* Aqui empieza el CSS del Aside de los pilotos*/
/*
.aside_piloto {
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    padding: 0px;
    margin: 0px;
    color: white;
    float: left;
    position: fixed;
    z-index: 1;
    width: 280px;
    height: 100%;
}

.aside_piloto_detalles {
    border: 5px double var(--colorGrisOscuro);
    border-radius: 20px;
    padding: 5px;
    margin: 35px 5px 5px 5px;
    width: 270px;
    max-height: 380px;
}

.aside_piloto_detalles img {
    width: 160px;
    display: block;
    margin: 0px auto;
  }

.aside_piloto_detalles h4,
h5 {
    margin: 10px;
}

#aside_piloto_logo {
    width: 100%;
    text-align: center;
}

#aside_piloto_logo img {
    width: 150px;
    margin: 10px;
}*/

/* Aqui empieza el CSS del Main de la hoja de los pilotos*/
.flex_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.flex_piloto {
    display: flex;
    flex-direction: column;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 220px;
}

.flex_piloto>h4 {
    font-size: larger;
    font-weight: 600;
    text-align: center;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.95;
    width: 100%;
    margin: 0px auto;
}

.flex_piloto>h5 {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.95;
    width: 100%;
    margin: 0px auto;
}

.flex_piloto img {
    width: 160px;
    padding: 0px;
    display: block;
    margin: 0px auto;
}

