/* Aqui empieza el CSS del Main de la hoja de los pilotos*/
.flex_piloto {
    display: flex;
    flex-direction: column;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 220px;
}

.flex_piloto>h4 {
    font-size: larger;
    font-weight: 600;
    text-align: center;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    opacity: 0.95;
    width: 100%;
    margin: 0px auto;
}

.flex_piloto>h5 {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.95;
    width: 100%;
    margin: 0px auto;
}

.flex_piloto img {
    width: 160px;
    padding: 0px;
    display: block;
    margin: 0px auto;
}

