/* Aqui empieza el CSS del Footer*/
.flexContainerFooter {
    top: var(--addHeaderNav);
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 3;
    padding: 0px 0px 0px 280px;
}

.gridContainerTop {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 5px;
}


#socialNetworks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialNetworks img {
    width: 30px;
    padding: 0px;
    margin: 20px;
}

.flexContainerBottom {
    height: 35px;
    width: 100%;
    color: white;
    font-size: x-small;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#copyrights {
    padding: 2px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: x-small;

}