/* Aqui empieza el CSS del Main de la hoja index.html*/
main {
    z-index: -1;
    height: var(--heightMain);
    width: 100%;
    padding: 0px;
    margin: 0px;
}

section {
    padding: 0px;
    margin: 0px;
    height: var(--heightMain);
    width: 100%;
    background-image: url("/img/main/backgroundFlag.jpg");
    background-size: cover;
    background-position: 0px 0px;
    padding: 10px 10px 10px 10px;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

#articleVideos {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 20px;
}

#articleVideos h3 {
    font-size: xx-large;
    text-align: center;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 10px;
    background-color: var(--colorGrisBoro);
    padding: 2px;
    margin: 10px;
}

#articleVideos video {
    width: 675px;
    padding: 10px;
    margin: 0px;
}


#articleNews {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 20px;
    padding: 10px;
}


#articleNews h4 {
    font-size: large;
    text-align: center;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 10px;
    background-color: var(--colorGrisBoro);
    padding: 2px;
    margin: 10px;
}


#articleNews video {
    padding: 0px;
    margin: 0px;
}

#articleNews p {
    font-size: medium;
    text-align: center;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 10px;
    background-color: var(--colorGrisBoro);
    padding: 2px;
    margin: 5px;
}

#articleInterview {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 20px;
    padding: 15px;
    background-color: gainsboro;

}

#articleInterview img {
    width: 300px;
    margin: 10px;
    float: left;
}
