/* Como el diseño del Header, Footer y Aside se comparte en todas las paginas 
escribo un solo código y lo llamo de las paginas. 
prefiero tener los códigos compartidos en distintos CSS*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

:root {
    --colorGrisOscuro: rgb(104, 103, 103);
    --colorGrisBoro: gainsboro;
    --heightHeader: 85px;
    --heightMain: auto;
    --heightNav: 25px;
    --addHeaderNav: 110px;
}

/* >>>>>>>>>>>>>>>>>>>>   Sección del Header*/
header {
    position: sticky;
    top: 0px;
    z-index: 4;
    background-color: black;
    height: var(--heightHeader);
    width: 100%;
}

.gridContainerHeader {
    display: grid;
    grid-template-columns: 250px 1fr 100px;
    height: var(--heightHeader);
    width: 100%;
    gap: 10px;
}

#headerLeft, a, #headerCenter, #headerRight {
    display: flex;
    justify-content: center;
    align-content: center;
}

#headerLeft img {
    height: 60px;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 10px;
    background-color: var(--colorGrisBoro);
    padding: 3px;
    margin: auto
}

#headerCenter h1 {
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 5px;
    text-align: center;
    margin: auto;
    align-content: center;
}

#headerRight {
    flex-direction: column;
    border: 5px double var(--colorGrisOscuro);
    border-radius: 10px;
    background-color: var(--colorGrisBoro);
    height: 80px;
    width: 80px;
    margin: auto;
}

#headerRight img {
    height: 45px;
    width: 45px;
    margin: 0px auto;
}

#headerRight h2 {
    height: 15px;
    width: 45px;
    color: black;
    font-size: small;
    margin: 0px auto;
}

/* >>>>>>>>>>>>>>>>>>>>   Sección del Nav*/
nav {
    position: sticky;
    top: var(--heightHeader);
    z-index: 4;
    background-color: red;
    height: var(--heightNav);
    width: 100%;
}

#navList {
    height: var(--heightNav);
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navItem {
    text-decoration: underline;
    list-style-type: none;
    float: left;
    margin: 0px 50px;
    padding: 0px;
}

.navItem a {
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding: 0px 10px;
}

.navItem a:hover {
    background-color: yellow;
    border-radius: 5px;
    padding: 0px 10px;
}

/* >>>>>>>>>>>>>>>>>>>>   Sección del Footer */
.flexContainerFooter {
    top: var(--addHeaderNav);
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 3;
    padding: 0px 0px 0px 280px;
}

.gridContainerTop {
    height: 70px;
    width: 100%;
    padding: 5px;
}

#socialNetworks, .gridContainerTop {
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialNetworks img {
    width: 30px;
    padding: 0px;
    margin: 20px;
}

.flexContainerBottom {
    height: 35px;
    width: 100%;
    color: white;
    font-size: x-small;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#copyrights {
    padding: 2px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: x-small;
}

/* >>>>>>>>>>>>>>>>>>>>   Sección del Aside*/
.aside {
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    padding: 0px;
    margin: 0px;
    color: white;
    float: left;
    position: fixed;
    z-index: 1;
    width: 280px;
    height: 100%;
}

.aside_detalles {
    border: 5px double var(--colorGrisOscuro);
    border-radius: 20px;
    padding: 5px;
    margin: 35px 5px 5px 5px;
    width: 270px;
    max-height: 380px;
}

.aside_detalles img {
    width: 160px;
    display: block;
    margin: 0px auto;
  }

.aside_detalles h4,
h5 {
    margin: 10px;
}

#aside_logo {
    width: 100%;
    text-align: center;
}

#aside_logo img {
    width: 150px;
    margin: 10px;
}

/* >>>>>>>>>>>>>>>>>>>>   Sección de los Media Query */
@media(max-width:950px) {

    .gridContainerHeader {
        grid-template-columns: 200px 1fr 100px;
        gap: 5px;
    }

    #headerCenter h1 {
        font-size: 45px;
        font-weight: 800;
        letter-spacing: 4px;
    }
}

@media(max-width:850px) {
    
    #headerLeft img {
        height: 55px;

    }
    #headerCenter h1 {
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 3px;
    }

    #headerRight {
        height: 70px;
        width: 70px;
    }

    #headerRight img {
        height: 40px;
        width: 40px;
    }
    
    #headerRight h2 {
              font-size: x-small;

    }
}

@media(max-width:790px) {
    #headerCenter h1 {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    #headerLeft img {
        height: 55px;

    }
}

@media(max-width:735px) {
    .gridContainerHeader {
        grid-template-columns: 160px 1fr 100px;
        gap: 5px;
    }
    #headerCenter h1 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    #headerLeft img {
        height: 50px;

    }

    #headerRight {
        height: 65px;
        width: 65px;
    }

    #headerRight img {
        height: 35px;
        width: 35px;
    }
    
    #headerRight h2 {
              font-size: x-small;

    }

    .navItem {
        margin: 0px 30px;
    }
}